{% extends "base.html" %}
{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="max-w-md mx-auto card">
  <h1 class="text-2xl font-bold mb-4 text-center text-black">Verify OTP</h1>

  <p class="text-center text-sm text-gray-500 mb-4 text-black">
    OTP has been sent to your email
  </p>

  {% if error %}
    <p class="text-red-500 text-center mb-3">{{ error }}</p>
  {% endif %}

  <form method="POST" action="/verify-otp" class="space-y-4">
    <input
      type="text"
      name="otp"
      placeholder="Enter 6-digit OTP"
      required
      maxlength="6"
      class="w-full p-2 border rounded text-center tracking-widest text-black"
    />

    <button class="btn-primary w-full text-black">
      Verify & Create Account
    </button>
  </form>
</div>
{% endblock %}
